body{
    background-color:#f5f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html{height: 100%;
    
}
.main {
    flex: 1;
    flex-grow: 1;
}
.loginForm{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-left:  5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-top: 3%;
    background-color: transparent;
    border-color: #C4C4C4;
    border: solid;
}
.loginForm button {
    background-color: transparent;
    color:#6A9B75;
    border-color: #6A9B75;
    border: solid;
    font-size: 14pt;

}
.loginForm button:hover {
    color: white;
    background-color:#6A9B75;
    border-color: #6A9B75;
}

.body div{
    align-items: center;
    justify-items: center;
}

#logo{
    color: white;
    font-family: ABeeZee;
    font-size: 18pt;
}

.linkes{
    text-align: center;
    margin-top: 2%;
    font-size: 10pt;
}

.LoginTitle {
    text-align: center;
    align-items: center;
    margin-top: 3%;
    font-size: 20px;
}

#bottom{
    position: fixed;
    margin-top: 50px;
    height: 10%;
    color: white;
    text-align:center;
}

.form-control{
    background-color: #E5E5E5;
}
