body{
    background-color:#f5f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html{height: 100%;

}

.main {
    flex: 1;
    flex-grow: 1;
}

.body div{
    align-items: center;
    justify-items: center;
}

#logo{
    color: white;
    font-family: ABeeZee;
    font-size: 18pt;
}
.nav-item a{
    color: white;
    padding-left:  30px;
    font-family: ABeeZee;
    font-size: 14pt;
    text-decoration: none;
}

#footer{
    position: fixed;
    margin-top: 50px;
    height: 10%;
    color: white;
    text-align:center;
    background-color: green;
}

.form{
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    background-color: transparent;
    border-color: #C4C4C4;
    border: solid;
}
.form button {
    background-color: transparent;
    color:#6A9B75;
    border-color: #6A9B75;
    border: solid;
    font-size: 14pt;

}



