<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Общежитие СибГУТИ - Главная</title>

    <link rel="stylesheet" href="style/main.css">

    <!--    Тег для адаптивной верстки Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body style="background-color: #f5f0f0; height:100%;">

<!--Навигационная панель-->
    <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="logo">SIBSUTISDorm</a>
      <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
  </div>
</nav>
<div class='main'>
<div class="menu">
            <div class="menu-card">
                <form>
                    <p>Заселение</p>
                    <div class="menu-card-img" align="center">
                    <img class="menu-card-img" src="images/zacelenie.png" width="104px" height="104px">
                    </div>
                    <div class="linkes">
                        <button type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
            
            <div class="menu-card">
                <form>
                    <p>Инвентаризация</p>
                    <div class="menu-card-img" align="center">
                    <img class="menu-card-img" src="images/inventarisation.png" width="104px" height="104px">
                    </div>
                    <div class="linkes">
                        <button type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
            
            <div class="menu-card">
                <form>
                    <p>Справки</p>
                    <div class="menu-card-img" align="center">
                    <img class="menu-card-img" src="images/spravki.png" width="104px" height="104px">
                    </div>
                    <div class="linkes">
                        <button type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
        <div class="menu-card">
                <form>
                    <p>Квитанции</p>
                    <div class="menu-card-img" align="center">
                    <img class="menu-card-img" src="images/kvitancii.png" width="104px" height="104px">
                    </div>
                    <div class="linkes">
                        <button type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
        <div class="menu-card">
                <form>
                    <p>Заявки на ремонт</p>
                    <div class="menu-card-img" align="center">
                    <img class="menu-card-img" src="images/remont.png" width="104px" height="104px">
                    </div>
                    <div class="linkes">
                        <button type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
        <div class="menu-card">
                <form>
                    <p>Документы</p>
                    <div class="menu-card-img" align="center">
                    <img class="menu-card-img" src="images/documents.png" width="104px" height="104px">
                    </div>
                    <div class="linkes">
                        <button type="submit" class="btn btn-primary">Перейти</button>
                    </div>
                </form>
            </div>
        
</div>
    </div>
    
    <footer style="background-color: #011100; text-align: center; height: 55px; color: white;"><p>(c)2021</p></footer>  
</body>
</html>